<h5>Hello, {{user}}</h5>
<h6>Enter how many hours (integer) did you spend today</h6>
<form method="post">
    <input type="number" name="hours"  placeholder="Hours" autocomplete="off" min="1" max="20">
    <input type="submit" value="Save">
</form>