<form method="post">
    <input type="text" name="name" placeholder="Name" autocomplete="off">
    <input type="password" name="password"  placeholder="Password" autocomplete="off">
    <input type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off">
    <input type="submit">
</form>